*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}

.container{
    padding: 10px 0;
}
nav{
    background-color: #837e7e;
    /* height: 60px; */
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
}

nav ul li{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

nav ul li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: blueviolet;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    background-color: blueviolet;
    left: 9px;
    bottom: 2px;
    transition: 0.5s ease;
}

nav ul li a:hover::after{
    width: 80%;
}

.intro{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    padding-top: 20px;
}

.intro p{
    padding-left: 10px;
}

img{
    justify-self: end;
    padding-right: 10px;
}

.intro span{
    font-size: 20px;
    color: blueviolet;
    font-style: oblique;
}

.about{
    padding: 20px;
}

.about-details{
    display: flex;
}

.about-img{
    margin-right: 30px;
    padding-left: 50px;
}

.about-text{
    flex-basis: 60%;
}

.about-text p{
    font-style: oblique;
}

.achievements{
    display: flex;
    margin: 13px 0 20px;
}

.success{
    margin-right: 35px;
    font-style: normal;
    position: relative;
    cursor: pointer;
}

.sucess::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    background-color: blueviolet;
    left: 0px;
    bottom: -8px;
    transition: 0.5s ease;
}

.success.current-link::after{
    width: 50%;
}
.achievements-detailed ul li{
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.achievements-detailed ul li span{
    color: blueviolet;
}

.achievements-detailed{
    display: none;
}

.achievements-detailed.active{
    display: block;
}

.fa.fa-phone,
.fa.fa-envelope{
    margin-right: 5px;
    color: blueviolet;
}

#projects{
    padding: 10px 0;
}

.my-projects{
    padding: 10px 10%;
}

.project-sample{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.project{
    /* border-radius: 10px 10px; */
    position: relative;
    overflow: hidden;
}

.project img{
    width: 100%;
    /* border-radius: 10px 10px; */
    display: block;
}

.contact{
    display: grid;
    justify-content: center;
    padding-bottom: 20px;
    background: #837e7e;
}

nav .fa{
    display: none;
}
/* @media only screen and (max-width: 600px){
    nav .fa{
        display: block;
        font-size: 25px;
    }
    nav ul{
        position: fixed;
        top: 0;
        right: 0;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        background-color: blueviolet;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
} */