*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}
nav{
    background-color: #837e7e;
    /* height: 60px; */
}

.logo{
    width: 140px;
    padding: 20px 0 10px 40px;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
}

nav ul li{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

nav ul li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: blueviolet;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    background-color: blueviolet;
    left: 9px;
    bottom: 2px;
    transition: 0.5s ease;
}

nav ul li a:hover::after{
    width: 80%;
}

.intro{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
}

img{
    justify-self: end;
}

.intro span{
    font-size: 20px;
    color: blueviolet;
    font-style: oblique;
}
